.body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.11px;
  letter-spacing: -0.54px;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: -0.02px;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
  color: #fd9222;
}

.hero {
  background: rgba(17, 17, 17, 0.6);
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.hero-byu-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-made-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-down-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  /letter-spacing: -0.03em;
}

----------------------Features-------------------------- 
.features {
  background: #1e1823;
}

.features-list {
}

.features-item {
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1, 28;
  letter-spacing: -0, 02em;
}

----------------------taste---------------- .taste {
}

.taste-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1, 16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.taste-title-color {
  color: #fd9222;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1, 29;
  letter-spacing: -0.02em;
}

.taste-list {
}

.taste-item {
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1, 29;
  letter-spacing: -0.02em;
}

.taste-img {
}

---------------------------maid-------------------------------- .maid {
}
.maid-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1, 16;
  letter-spacing: -0, 03em;
  text-transform: uppercase;
}
.maid-title-color {
  color: #fd9222;
}

.maid-img {
}
.maid-subtitre {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1, 33;
}
.maid-list {
}

.maid-item {
}

.maid-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1, 29;
  letter-spacing: -0.02em;
}
-----------------------------Products----------------------- .products {
}
.products-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1, 17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.products-title-color {
  color: #fd9222;
}
.products-list {
}
.products-item {
}
.products-img {
}
.products-subtitre { 
   color: #111;
font-size: 18px;
font-weight: 600;
line-height 1,33;
letter-spacing: -0,02em;
text-transform: uppercase;
}
.products-title-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: -0.02em;
}
.products-item-btn {
  color: #111;
  font-family: inherit;
font-size: 14px;
font-weight: 600;
line-height: normal;
cursor: pointer;
}

---------------------------------sellers--------------

.sellers {
}
.sellers-title {
color: #111;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 1,17;
letter-spacing: -0.03em;
text-transform: uppercase;
}

.sellers-title-color{
  color: #FD9222;

}

.sellers-list {
}
.sellers-item {
}
.seller-img {
}
.seller-subtitre {
color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1,33; 
letter-spacing: -0.02ex;
text-transform: uppercase;
}


