.body {
  font-family: "Montserrat", sans-serif;
  background-color: #FAFAFA;
}
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
button{ 
  cursor: pointer;
}
address{
  font-style: normal;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.conteiner{
  width: 100%;
  /*max-width: 1166px;*/
  max-width: 365px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header{
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-conteiner{
  display: flex;
  gap: 90px;
  align-items: center;
}
.header-navigation{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11px;
  letter-spacing: -0.54px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-logo-italic{
  font-style: italic;
}
.header-menu-list{
  display: flex;
  gap: 24px;
}
.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: -0.02px;
}
.header-soc{
  display: flex;
  gap: 14px;
}
.header-soc-ikon:hover{ fill: #FD9222;}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
  color: #fd9222;
}

.hero {
  padding-bottom: 80px;
}
.hero-conteiner{
background-color: rgba(17, 17, 17, 0.6);
background-image: url(../img/pexels-lisa-fotios-918327.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 30px;
padding: 380px 40px 40px 40px;
}
.hero-title{
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-button{
  display: flex;
  align-items: center;
}
.hero-byu-btn {
  padding: 14px 40px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: #FD9222;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

.hero-made-btn {
  padding: 14px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #FFF;
  background-color: transparent;
}

.hero-down-btn {
   color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}


.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.features-item {
  width: calc(( 100% - 88px * 2) / 3);
  position: relative;
}
.features-item:not(:last-child)::after{
  content: "";
  width: 1px;
   height: 124px;
   right: -44px;
   top: 0;
  position: absolute;
  background-color: #FFF;
  top: 50%;
  transform: translateY(-50%);
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1, 28;
  letter-spacing: -0, 02em;
}

----------------------taste---------------- 
.taste {
  padding-top: 120px;
  
}

.taste-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1, 16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-title-color {
  color: #fd9222;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1, 29;
  letter-spacing: -0.02em;
  margin: 0 auto 50px;
  max-width: 486px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
border-radius: 15px;
border: 1px solid #FD9222;
background: #fff;
width: calc((100% - 32 * 3) / 4);
padding: 28px 23px;
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1, 29;
  letter-spacing: -0.02em;
  padding-left: 5px;
}

.taste-img {
  margin: 0 auto;
  margin-top: 36px;
}

---------------------------maid--------------------------------
 .maid {
  padding-top: 120px;
}
.maid-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1, 16;
  letter-spacing: -0, 03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.maid-wrape {
  display: flex;
  gap: 20px;
}

.maid-title-color {
  color: #fd9222;
}

.maid-img {
}
.maid-content{
  background-color: #ffff;
  padding: 32px;
}
.maid-subtitre {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1, 33;
  margin-bottom: 28px;
  max-width: 350px;
}
.maid-list {
}

 .maid-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.maid-item::before{
  content:'';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #111;
  border-radius: 50%;
  border: 1px solid #eceded;
  flex-shrink: 0;
}
.maid-item + .maid-item{
  margin-top: 20px;
}
.maid-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1, 29;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
-----------------------------Products----------------------- .products {
}
.products {
  padding-top: 80px;
}
.products-title {
  color: #111;
  text-align: center;
  /*font-size: 24px;*/
  font-size: 20px;
  font-weight: 600;
  /*line-height: 1, 17;*/
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  /*margin-bottom: 50px;*/
  margin-bottom: 22px;
}
.products-title-color {
  color: #fd9222;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px 18px;*/
  gap: 22px;
}
.products-item {
  /*width: calc((100% - 54px) / 4);*/
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 32px 20px;
  background: #fff;

}
.products-img { 
  margin-bottom: 8px;
  margin: 0 auto;
}
.products-subtitre { 
   color: #111;
font-size: 18px;
font-weight: 600;
line-height 1.33;
letter-spacing: -0,02em;
text-transform: uppercase;
}
.products-title-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: -0.02em;
}
.products-item-btn {
  color: #111;
  font-family: inherit;
font-size: 14px;
font-weight: 600;
line-height: normal;
cursor: pointer;
}

---------------------------------sellers--------------

.sellers {
  padding-top: 80px;
}
.sellers-title {
color: #111;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 1,17;
letter-spacing: -0.03em;
text-transform: uppercase;
/*margin-bottom: 50px;*/
margin-bottom: 32px;
}

.sellers-title-color{
  color: #FD9222;

}

.sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.sellers-item {
  /*width: calc((100% - 16px*2) / 3);*/
  width: 100%;
  padding-bottom: 28px;
  position: relative;
}
.seller-img {
}
.seller-subtitre {
color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1,33; 
letter-spacing: -0.02ex;
text-transform: uppercase;
}
.footer{
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-heading{
  color: #FFF;  
  font-size: 28px;
font-weight: 500;
line-height: calc(34 / 28);
letter-spacing: -0.02em;
max-width: 300px;
margin-right: auto;
}
.footer-soc{
  margin-right: 50px;
}
.footer-subtitre{
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-soc-list{}
.footer-soc-item {
}
.footer-soc-link{}
.footer-adress{
  font-style: normal;
}
.footer-adress-list{}
.footer-adress-item + footer-adress-item{
  margin-top: 4px;
}
.footer-adress-link{ 
  color: #FFF;
  text-align: centre;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-top{
  display: flex;
padding-bottom: 50px;
margin-bottom: 24px;
  border-bottom: 1px solid rgba(255 255 255 0.10);
}
.footer-navigation
.footer-menu-list{
  display: flex;
  gap: 24px;
}
.footer-menu-item
.footer-menu-link{
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active{
  color: #FD9222;
}
.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-input{
  width: 313px;
  height: 52px;
  background-color: transparent;
  border: 1.5px solid rgba(255 255 255 0.10);
  padding: 24px 0;
    color: var(--WHITE, #FFF);
font-size: 12px;
line-height: 2; 
letter-spacing: 0.04em;
}
.footer-form-btn{
  color: var(--WHITE, #FFF);
  font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
height: 52px;
padding-left: 40px;
padding-right: 40px;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
border: none;
margin-left: 8px;
}
.list{
  display: flex;
  gap: 10px;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #82619e84;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 517px;
  min-height: 794px;
   border-radius: 15px;
  background-color: #FAFAFA;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 40px;
}
.modal-close-btn{
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid #6e7474;
  background-color: #c8cccc ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-title{
  color: #111;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
  max-width: 298px;
  margin-bottom: 42px;
}
.modal-title span{ 
 color: #fd9222;
}
.modal-fill{
  margin-bottom: 18px;
}
.modal-input-wrap{
  position: relative;
}
.modal-input{
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03em);
  outline: transparent;
  color: #1e1823;
  padding-left: 50px;
}
.modal-input::placeholder{
  color: #999d9d;
}
.modal-input:focus{
  border-color: #FD9222;
}
.modal-input:focus + .modal-icon{
  stroke: #FD9222;
}
.modal-input:focus::placeholder{
  color :#fd9222;
}
.modal-label{
  display: block;
  color: rgba(64 64 64 0.3);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}.modal-icon{
  fill: transparent;
  stroke: #111;
  position: absolute;
  left: 24px;
  top: 50%;
 transform: translateY(-50%);
}
.modal-text{
   width: 100%;
  height: 137px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03em);
  outline: transparent;
  color: #1e1823;
  padding: 24px 22px;
  resize: 0;
} 
.check-text{
   color: #111;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}
.check-text a{
  color: #FD9222;
  text-decoration: underline;
}
.check-text span{
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.check-input:checked + .check-text span{
  background-color: #FD9222;
  border: 0;
  fill: #FAFAFA;
}
@media screen and (min-width: 768px) {
 .conteiner{ 
  max-width: 734px;}
    .products {
  padding-top: 100px;
}
.products-title {
  font-size: 24px;
  line-height: 1, 17;
  margin-bottom: 50px;
}
.products-list {
  gap: 32px;
}
.products-item {
  width: calc((100% - 32px) / 2);
}
.sellers {
  padding-top: 100px;
}
.sellers-title {
  margin-bottom: 50px;
}
.sellers-item {
  width: calc((100% - 16px) / 2);
}
}




@media screen and (min-width: 1200px) {
  .products{
    padding-top: 120px;
  }
  .products-list {
    gap: 24px 18px;
  }
  .products-item {
 width: calc((100% - 54px) / 4);
}
.sellers {
  padding-top: 120px;
}
.sellers-item {
  width: calc((100% - 32px) / 3);
}
}
  